<% provide :title, t("books.books") %>
<div class="container books-sale">
  <h2 class="books-sale-title"><%= t "books.all_books" %></h2>
  <hr>
  <div class="books-sale-search">
    <%= search_form_for(@q, url: static_pages_home_path, method: :get) do |f| %>
      <div class="input-group">
        <%= f.search_field :title_cont, class: "form-control" %>
        <%= f.submit t("books.search"), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <div>
    <% if @books.any? %>
      <ol class="row books justify-content-center">
        <%= render @books %>
      </ol>
      <%= paginate @books, theme: "twitter-bootstrap-4" %>
    <% else %>
      <h2 class="books-search-not-found"><%= t "books.not_found" %></h2>
    <% end %>
  </div>
</div>
