<% provide :title, t("order.order_infor") %>
<div class="cart-index container user_order_index">
  <% if @orders.any? %>
    <h1 class="text-center cart-index-title">
      <%= t "order.your_orders" %>
    </h1>
    <div class="container">
      <div>
        <table class="table table-hover cart_table">
          <thead>
            <tr>
              <th class="text-center">#</th>
              <th class="text-center"><%= t "order.name" %></th>
              <th class="text-center"><%= t "order.phone" %></th>
              <th class="text-center"><%= t "order.total_price" %></th>
              <th class="text-center"><%= t "order.status" %></th>
              <th class="text-center"></th>
            </tr>
          </thead>
          <tbody>
            <% @orders.each_with_index do |order, index|%>
              <tr>
                <th scope="row" class="text-center"><%= index + 1 %></th>
                <td class="text-center"><%= order.name %></td>
                <td class="text-center"><%= order.phone %></td>
                <td class="text-center">
                  <%= number_to_currency(order.total_price, locale: :vi) %>
                </td>
                <td class="text-center">
                  <span class="badge <%= t "class.#{order.status}" %>">
                    <%= order.status %>
                  </span>
                </td>
                <td class="row">
                  <div class="d-flex flex-column user-btn-detail">
                    <%= link_to t("order.btn_detail"), user_order_path(current_user, order),
                      class: "btn btn-outline-primary" %>
                  </div>
                  <% if order.pending? %>
                    <div class="d-flex flex-column">
                      <%= link_to t("order.btn_cancel"), cancel_user_order_path(current_user, order),
                        method: "put", class: "btn btn-outline-danger" %>
                    </div>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <%= paginate @orders, theme: "twitter-bootstrap-4" %>
    <%= link_to t("cart.back_shopping"),
      static_pages_home_path, class: "btn btn-primary btn-back-shopping-left" %>
  <% else %>
    <h1 class="text-center cart-index-title">
      <%= t "order.no_order" %>
    </h1>
    <%= link_to t("cart.back_shopping"),
      static_pages_home_path, class: "btn btn-primary btn-back-shopping" %>
  <% end %>
</div>
