<% provide :title, t("order.title") %>
<div class="container delivery-info">
  <h1 class="text-center cart-index-title">
    <%= t "order.title" %>
  </h1>
  <%= form_tag user_orders_path do %>
    <div class="delivery-name">
      <h4><%= t "order.name" %></h4>
      <div class="form-group quantity">
          <%= text_field_tag :name, load_param_name, class: "form-control",
          required: "required" %>
      </div>
    </div>
    <div class="delivery-name">
      <h4><%= t "order.address" %></h4>
      <div class="form-group quantity">
        <%= text_field_tag :address, current_info_receiver["address"], class: "form-control",
          required: "required" %>
      </div>
    </div>
    <div class="delivery-name">
      <h4><%= t "order.phone" %></h4>
      <div class="form-group quantity">
        <%= text_field_tag :phone, current_info_receiver["phone"], class: "form-control",
          required: "required" %>
      </div>
    </div>
    <div>
      <%= submit_tag t("order.btn_pay"), class: "btn btn-info delivery-btn" %>
    </div>
  <% end %>
</div>
