<% provide :title, @book.title %>
<div>
  <%= link_to t("cart.back_shopping"),
    static_pages_home_path, class: "btn btn-primary btn-back-shopping-book" %>
</div>
<div class="row book-detail-sale justify-content-center">
  <div class="ps-book__image">
    <%= image_tag("bucbuc_logo.png", alt: "book") %>
  </div>
  <div class="ps-book__info">
    <h1><%= @book.title %></h1>
    <p class="ps-book__category">
      <a href="#"><%= @book.category_title %></a>
    </p>
    <h3 class="ps-book__price">
      <%= number_to_currency(@book.price, locale: :vi) %>
    </h3>
    <div class="ps-book__block">
      <h4><%= t "books.detail.description" %></h4>
      <p><%= @book.description %></p>
    </div>
    <%= form_tag carts_path, remote: true do %>
      <div class="ps-book__block ps-book__size">
        <h4><%= t "books.detail.quantity" %></h4>
        <div class="form-group quantity">
          <%= number_field_tag :quantity, 1, class: "form-control", min: 1 %>
        </div>
      </div>
      <%= hidden_field_tag :book_id, @book.id %>
      <div class="ps-book__shopping">
        <%= submit_tag t("books.detail.add_to_cart"), class: "btn btn-info" %>
      </div>
    <% end %>
  </div>
</div>
